@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Moscow, Russia<br />
    <abbr title="Phone">P:</abbr>
    +7 (919) 776-9-667
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vakhromeevae@outlook.com">vakhromeevae@outlook.com</a><br />
</address>